<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../../static/css/account.css"/>
    <title>Чат</title>
</head>
<body>
<div>
    <input style="display: inline-block" align='left' class="button" type="button" value="Вернуться в чат" onClick='location.href="http://127.0.0.1:8080/chat"'>
    <input style="display: inline-block; margin-left: 10%" align='right' class="button" type="button" value="Выйти" onClick='location.href="http://127.0.0.1:8080/logout"'>
</div>
</body>
</html>