<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../../static/css/chat.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Чат</title>
    <script language="javascript" src="../../static/script.js"></script>
    <script language="javascript" src="../../static/show_widget.js"></script>
    <script language="JavaScript">
        function refresh() {
            var xln = new XML_Load('/getMessages', 'GET', '', null);
            if(xln.IsReady()) {
                xln.OnReady = function(status, list, ldata) {
                    var messages = JSON.parse(ldata);
                    var block = '';
                    messages.forEach(function (item, i, arr) {
                        block += '<p style="margin-left: 80px;" class="message_time">\
                ' + item.name + '      ' + item.date + '\
            </p>\
            <p onmouseover="showForm(\'button_' + item.id + '\');" onmouseout="hideForm(\'button_' + item.id + '\');" style="margin-left: 80px;" class="message">\
                ' + item.content + '\
    ' + (item.editable ? '\
            <button onclick=location.href="/chat/' + item.id + '" id="button_' + item.id + '_1" class="btn btn-warning" style="display:none;  width: 120px">Редактировать</button>\
            <button onclick=location.href="/message_delete/' + item.id + '" id="button_' + item.id + '_2" class="btn btn-danger" style="display:none; width: 120px">Удалить</button>\
     ' : '' ) + '\
        </p>';
                        });
                    document.getElementById('messages').innerHTML = block;
                    }
                }
            xln.Load();
            }

    </script>
</head>
<body onload="setInterval(refresh, 3000);">
<input align="right" class="button" type="button" value="Личный кабинет" style="padding-right: 50px"
       onClick='location.href="http://127.0.0.1:8080/account"'>
{% block content %}
<h1 align="center" class="header"><big>Чатик</big></h1>
<div id="messages">
    {% for item in messages%}
            <p  style="margin-left: 80px;" class="message_time">
                {{item.user_name}} {{item.created_date}}
            </p>
            <p  onmouseover="showForm('button_{{item.id}}');" onmouseout="hideForm('button_{{item.id}}');" style="margin-left: 80px;" class="message">
                {{item.content}}

    {% if item.user_name == user_name %}

            <button onclick=location.href="/chat/{{item.id}}" id="button_{{item.id}}_1" class="btn btn-warning" style="display:none; width: 120px">Редактировать</button>
            <button onclick=location.href="/message_delete/{{item.id}}" id="button_{{item.id}}_2" class="btn btn-danger" style="display:none; margin-top: 5px; width: 120px">Удалить</button>

        {% endif %}
            </p>
    {% endfor %}
</div>
{% endblock %}
<section id="bar"></section>
<form class="form" method="post">
    <input type="text" class="input2" id="message" autocomplete="off" size="30"
           placeholder="Введите сообщение..." name="message">
    <button type="submit" class="button2">Отправить&#11149;</button>
</form>


</body>
</html>