<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../../static/css/try_again.css"/>
    <title>Неправильный пароль</title>
</head>
<body>
<img class='img1' src="../../static/images/error.png" width="70" height="70">
<p style="margin-left: 80px;">Вы ввели неправильный пароль, или попытались создать аккаунт с именем, которое уже использовано</p>
<p style="margin-left: 80px;"><a href="/reg_log">Нажмите здесь, чтобы вернуться к форме авторизации</a></p>
</body>
</html>